* {
	box-sizing: border-box;
}

body {
	font-size: 15px;
}

/*Input*/

input[type="text"] {
  display:block; 
  width: 20%;
  margin: 20px auto;
  border: 2px solid #555;
  outline: none;
}

/*Legislators*/

.legislatorContainer {
	display: inline-block;
	vertical-align: top;
	text-align: center;	
	width: 30%;
	border: 2px solid #ddd;
	background: #9DDC91;
	margin: 1%;
}


.legislatorContainer .list {
	text-align: left;	

}